# Week1 Thu python part 4

## 복습

In [1]:
def ms():
    pass
# pass는 형태만 구현을 해준다. 인터페이스나 추상 함수에 필요. 
# 파이썬은 return을 함수에 안써되 된다. return을 여러개 받을 수도 있다.

In [2]:
def ms_2():
    print(0)
    #return None

return을 주지 않으면 return None이 암시적으로 숨어있다.

In [3]:
1+ms_2()

0

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

return 이 없기 때문에 식이 아니라 문이다. 그래서 오류가 나는것임.
0은 print(0)까지 실행을 하고 에러가 나온 것이라 0이 출력이 된 것이다. 인터프리터 언어의 특징

In [4]:
import dis

In [5]:
type(dis)

module

In [6]:
dir(dis)

['Bytecode',
 'COMPILER_FLAG_NAMES',
 'EXTENDED_ARG',
 'FORMAT_VALUE',
 'HAVE_ARGUMENT',
 'Instruction',
 '_Instruction',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_disassemble_bytes',
 '_disassemble_str',
 '_format_code_info',
 '_get_code_object',
 '_get_const_info',
 '_get_instructions_bytes',
 '_get_name_info',
 '_have_code',
 '_test',
 '_try_compile',
 '_unpack_opargs',
 'cmp_op',
 'code_info',
 'collections',
 'dis',
 'disassemble',
 'disco',
 'distb',
 'findlabels',
 'findlinestarts',
 'get_instructions',
 'hascompare',
 'hasconst',
 'hasfree',
 'hasjabs',
 'hasjrel',
 'haslocal',
 'hasname',
 'hasnargs',
 'io',
 'opmap',
 'opname',
 'pretty_flags',
 'show_code',
 'stack_effect',
 'sys',
 'types']

In [7]:
help(dis)

Help on module dis:

NAME
    dis - Disassembler of Python byte code into mnemonics.

CLASSES
    builtins.object
        Bytecode
    _Instruction(builtins.tuple)
        Instruction

    class Bytecode(builtins.object)
     |  The bytecode operations of a piece of code
     |
     |  Instantiate this with a function, method, string of code, or a code object
     |  (as returned by compile()).
     |
     |  Iterating over this yields the bytecode operations as Instruction instances.
     |
     |  Methods defined here:
     |
     |  __init__(self, x, *, first_line=None, current_offset=None)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  __iter__(self)
     |
     |  __repr__(self)
     |      Return repr(self).
     |
     |  dis(self)
     |      Return a formatted view of the bytecode operations.
     |
     |  info(self)
     |      Return formatted information about the code object.
     |
     |  ----------------------------------------------------------------------
     |  Class methods defined here:
     |
     |  from_traceback(tb) from builtins.type
     |      Construct a Bytecode from the given traceback
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class Instruction(_Instruction)
     |  Details for a bytecode operation
     |
     |  Defined fields:
     |    opname - human readable name for operation
     |    opcode - numeric code for operation
     |    arg - numeric argument to operation (if any), otherwise None
     |    argval - resolved arg value (if known), otherwise same as arg
     |    argrepr - human readable description of operation argument
     |    offset - start index of operation within bytecode sequence
     |    starts_line - line started by this opcode (if any), otherwise None
     |    is_jump_target - True if other code jumps to here, otherwise False
     |
     |  Method resolution order:
     |      Instruction
     |      _Instruction
     |      builtins.tuple
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  _disassemble(self, lineno_width=3, mark_as_current=False)
     |      Format instruction details for inclusion in disassembly output
     |
     |      *lineno_width* sets the width of the line number field (0 omits it)
     |      *mark_as_current* inserts a '-->' marker arrow as part of the line
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from _Instruction:
     |
     |  __getnewargs__(self)
     |      Return self as a plain tuple.  Used by copy and pickle.
     |
     |  __repr__(self)
     |      Return a nicely formatted representation string
     |
     |  _asdict(self)
     |      Return a new OrderedDict which maps field names to their values.
     |
     |  _replace(_self, **kwds)
     |      Return a new _Instruction object replacing specified fields with new values
     |
     |  ----------------------------------------------------------------------
     |  Class methods inherited from _Instruction:
     |
     |  _make(iterable, new=<built-in method __new__ of type object at 0x000000006A53C0D0>, len=<built-in function len>) from builtins.type
     |      Make a new _Instruction object from a sequence or iterable
     |
     |  ----------------------------------------------------------------------
     |  Static methods inherited from _Instruction:
     |
     |  __new__(_cls, opname, opcode, arg, argval, argrepr, offset, starts_line, is_jump_target)
     |      Create new instance of _Instruction(opname, opcode, arg, argval, argrepr, offset, starts_line, is_jump_target)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from _Instruction:
     |
     |  opname
     |      Human readable name for operation
     |
     |  opcode
     |      Numeric code for operation
     |
     |  arg
     |      Numeric argument to operation (if any), otherwise None
     |
     |  argval
     |      Resolved arg value (if known), otherwise same as arg
     |
     |  argrepr
     |      Human readable description of operation argument
     |
     |  offset
     |      Start index of operation within bytecode sequence
     |
     |  starts_line
     |      Line started by this opcode (if any), otherwise None
     |
     |  is_jump_target
     |      True if other code jumps to here, otherwise False
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from _Instruction:
     |
     |  _fields = ('opname', 'opcode', 'arg', 'argval', 'argrepr', 'offset', '...
     |
     |  _source = "from builtins import property as _property, tupl..._itemget...
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.tuple:
     |
     |  __add__(self, value, /)
     |      Return self+value.
     |
     |  __contains__(self, key, /)
     |      Return key in self.
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __getitem__(self, key, /)
     |      Return self[key].
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __iter__(self, /)
     |      Implement iter(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __len__(self, /)
     |      Return len(self).
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __mul__(self, value, /)
     |      Return self*value.n
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __rmul__(self, value, /)
     |      Return self*value.
     |
     |  count(...)
     |      T.count(value) -> integer -- return number of occurrences of value
     |
     |  index(...)
     |      T.index(value, [start, [stop]]) -> integer -- return first index of value.
     |      Raises ValueError if the value is not present.

FUNCTIONS
    code_info(x)
        Formatted details of methods, functions, or code.

    dis(x=None, *, file=None)
        Disassemble classes, methods, functions, generators, or code.

        With no argument, disassemble the last traceback.

    disassemble(co, lasti=-1, *, file=None)
        Disassemble a code object.

    disco = disassemble(co, lasti=-1, *, file=None)
        Disassemble a code object.

    distb(tb=None, *, file=None)
        Disassemble a traceback (default: last traceback).

    findlabels(code)
        Detect all offsets in a byte code which are jump targets.

        Return the list of offsets.

    findlinestarts(code)
        Find the offsets in a byte code which are start of lines in the source.

        Generate pairs (offset, lineno) as described in Python/compile.c.

    get_instructions(x, *, first_line=None)
        Iterator for the opcodes in methods, functions or code

        Generates a series of Instruction named tuples giving the details of
        each operations in the supplied code.

        If *first_line* is not None, it indicates the line number that should
        be reported for the first source line in the disassembled code.
        Otherwise, the source line information (if any) is taken directly from
        the disassembled code object.

    show_code(co, *, file=None)
        Print details of methods, functions, or code to *file*.

        If *file* is not provided, the output is printed on stdout.

    stack_effect(opcode, oparg=None, /)
        Compute the stack effect of the opcode.

DATA
    EXTENDED_ARG = 144
    HAVE_ARGUMENT = 90
    __all__ = ['code_info', 'dis', 'disassemble', 'distb', 'disco', 'findl...
    cmp_op = ('<', '<=', '==', '!=', '>', '>=', 'in', 'not in', 'is', 'is ...
    hascompare = [107]
    hasconst = [100]
    hasfree = [135, 136, 137, 138, 148]
    hasjabs = [111, 112, 113, 114, 115, 119]
    hasjrel = [93, 110, 120, 121, 122, 143, 154]
    haslocal = [124, 125, 126]
    hasname = [90, 91, 95, 96, 97, 98, 101, 106, 108, 109, 116, 127]
    hasnargs = []
    opmap = {'BEFORE_ASYNC_WITH': 52, 'BINARY_ADD': 23, 'BINARY_AND': 64, ...
    opname = ['<0>', 'POP_TOP', 'ROT_TWO', 'ROT_THREE', 'DUP_TOP', 'DUP_TO...

FILE
    c:\users\user\anaconda3\lib\dis.py

dir(dis)에서 대문자로 표기된 것들은(dis뿐만아니라 거의 모든 클래스가) 상수로 쓸 수 있는 것들이다.

In [8]:
dis.dis(ms)

  2           0 LOAD_CONST               0 (None)
              2 RETURN_VALUE

내부적으로 함수나 클래스나 메소드가 어떻게 돌아가는지 알고 싶으면 위 기법을 쓴다.

파라미터와 아규먼트의 차이 : 파라미터에 대치 되는 값. 파이썬은

In [9]:
def ms_3(x,y):
    return x,y

In [10]:
dis.dis(ms_3)

  2           0 LOAD_FAST                0 (x)
              2 LOAD_FAST                1 (y)
              4 BUILD_TUPLE              2
              6 RETURN_VALUE

In [11]:
ms_3(1,3) #결과값이 튜플

(1, 3)

순서대로 파라미터와 짝을 이뤄서 넣는 방법이 포지셔널 방식. 순서를 반드시 맞추어 주어야 한다.

In [12]:
ms_3(y = 1, x = 3)

(3, 1)

순서대로 안넣고 키워드이름을 넣어서 입력을 받으면 키워드 방식

In [13]:
def ms_3(x,y,*z):
    return x,y,z

*은 팩킹, 언팩킹 할때 했는데 나머지 모든 것들이라는 뜻

In [14]:
a,*b,c = 1,2,3,4,5,6,7,8

In [15]:
print (a,b ,c)

1 [2, 3, 4, 5, 6, 7] 8

*은 리스트

In [16]:
dis.dis(ms_3)

  2           0 LOAD_FAST                0 (x)
              2 LOAD_FAST                1 (y)
              4 LOAD_FAST                2 (z)
              6 BUILD_TUPLE              3
              8 RETURN_VALUE

In [17]:
ms_3(1,2,3,4,5,6,7,8,9,10,11)

(1, 2, (3, 4, 5, 6, 7, 8, 9, 10, 11))

In [18]:
def ms_4(x,*y,z):
    return x,y,z

In [19]:
ms_4(1,2,3,4,5,6,7,8,9,10)

TypeError: ms_4() missing 1 required keyword-only argument: 'z'

*은 함수의 파라미터에는 무조건 맨 뒤에 써야한다. 단 예외가 있다.

In [20]:
ms_4(1,2,3,4,5,6,7,8,9,10,z = 'end')

(1, (2, 3, 4, 5, 6, 7, 8, 9, 10), 'end')

*다음에는 키워드를 무조건 붙인다.

### 질문 : 무조건 키워드 방식으로 함수를 만들고 싶다면?

In [21]:
def ms_key(*,x,y):
    return x,y

In [22]:
ms_key(x = 2, y = 2)

(2, 2)

판다스처럼 매우 파라미터 입력이 복잡한 경우에는 이러한 기법을 써야한다.

In [23]:
ms_key(y = 2)

TypeError: ms_key() missing 1 required keyword-only argument: 'x'

개수가 안맞으면 에러가 난다.

함수엔 기본값을 줄 수도 있다.

In [24]:
def ms_kibon(x = 3, y = 4):
    return x,y

In [25]:
ms_kibon()

(3, 4)

In [26]:
def ms_kibon(x = 3, y):
    return x, y

SyntaxError: non-default argument follows default argument (<ipython-input-26-981cd31c982b>, line 1)

python에서 신택스에러는 컴파일 에러와 동치. 위의 문법은 x의 자리에 아무것도 입력을 안해도 된다는 의미이다. 그래서 혼란이 올 수 있다. 파이썬은 무조건 뒤에서 채워야 한다. 앞에것만 디폴트 값을 줄 수 없다.

In [27]:
import pandas as pd

In [28]:
pd.read_csv #디폴트값의 예시

<function pandas.io.parsers._make_parser_function.<locals>.parser_f(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)>

In [29]:
def ms_kibon(x, y = 3, z =1 ):
    return x,y,z

In [30]:
ms_kibon(7,2,2)

(7, 2, 2)

In [31]:
ms_kibon(5)

(5, 3, 1)

In [32]:
def ms_or_test(x or 3):
    return x

SyntaxError: invalid syntax (<ipython-input-32-1b6abd0d080c>, line 1)

위의 형태는 불가능하다.

In [ ]:
def ms_or_test(x):
    return x

In [ ]:
ms_or_test(7 or 23)

위의 기법은 가능하다. 아규먼트 상태에서는 가능하고 파라미터 상태에선 불가능하다.

In [33]:
#사용 예시
a = input()
ms_or_test(a or 23)

NameError: name 'ms_or_test' is not defined

In [34]:
1,_,_ = 2,3,2

SyntaxError: can't assign to literal (<ipython-input-34-808e20229430>, line 1)

In [35]:
1,_,_ = (2,3,2)

SyntaxError: can't assign to literal (<ipython-input-35-f1b8784b2d31>, line 1)

위의 두 결과가 안되는 이유 : 1은 imutable이기 때문에.

In [36]:
x,_,_ = 2,3,2

In [37]:
x

2

In [38]:
_

2

In [39]:
def ms(x, *z):#딕셔너리를 제외한 컨테이너를 쓸때 쓰는 기법
    return x,z

In [40]:
x,y = ms(1,2,3,4,5,6,7)
y

(2, 3, 4, 5, 6, 7)

In [41]:
x,y = ms(1,(2,3,4,5,6))
y

((2, 3, 4, 5, 6),)

In [42]:
x,y = ms(1,*(2,3,4,5,6,7))
y

(2, 3, 4, 5, 6, 7)

*range 는 컨테이너가 아니라 플랫이다.

In [43]:
x,y = ms(1,*[2,3,4,5,6,7])
y

(2, 3, 4, 5, 6, 7)

In [44]:
x,y = ms(1,*"234567")
y

('2', '3', '4', '5', '6', '7')

In [45]:
x,y = ms(1, *frozenset())
y

()

In [46]:
type(y)

tuple

In [47]:
x,y = ms(1,[2,3,4,5])
y

([2, 3, 4, 5],)

In [48]:
type(y)

tuple

In [49]:
y[0]

[2, 3, 4, 5]

In [50]:
list('zzzzzzz')

['z', 'z', 'z', 'z', 'z', 'z', 'z']

In [51]:
list(1,2,3,4)

TypeError: list() takes at most 1 argument (4 given)

위의 입력은 iterable에 iterable하지 않은 입력을 썼기 때문에 에러가 난다.

In [52]:
list({1,2,3,4})

[1, 2, 3, 4]

딕셔너리 기법

In [53]:
def ms(x, **y):
    return x,y

In [54]:
ms(1,a = 2,y = 3 )

(1, {'a': 2, 'y': 3})

In [55]:
def ms(x, **z):
    if 'a' in z:
        print('zzz')
    return x,z

In [56]:
ms(1,a=2, y=3)

zzz

(1, {'a': 2, 'y': 3})

In [57]:
ms(1, x = 2, y = 3)

TypeError: ms() got multiple values for argument 'x'

x 의 중복 입력이라 오류가 난다.

In [58]:
ms(1, a = 2, y = 3)

zzz

(1, {'a': 2, 'y': 3})

In [59]:
def ms(x, **z):
    if 'a' in z:
        print(a['z'])
    return x,z

In [60]:
ms(1, a = 2, y = 3)

TypeError: string indices must be integers

In [61]:
def ms(x, **y, *z):
    return x,y,z

SyntaxError: invalid syntax (<ipython-input-61-fcba74f4820f>, line 1)

*의 순서를 맞춰야 한다.

In [62]:
def ms(x, *y, **z):
    return x,y,z

In [63]:
ms(1, y = [3,4,2,34], z = {1:'3'})

(1, (), {'y': [3, 4, 2, 34], 'z': {1: '3'}})

In [64]:
ms(1,[3,4,5,6,7],{1:3})

(1, ([3, 4, 5, 6, 7], {1: 3}), {})

In [65]:
x = {1:'a', 2:'b'}
y = {2:'c', 3:'d'}

In [66]:
z = **x

SyntaxError: invalid syntax (<ipython-input-66-c4f075dc18a1>, line 1)

In [67]:
z = {**x}

딕셔너리 안에 딕셔너리가 들어갈 수 없다. 딕셔너리 안에는 imutable한 것만 들어갈 수 있다.

In [68]:
z = {**x, **y}

In [69]:
z

{1: 'a', 2: 'c', 3: 'd'}

왼쪽에서 오른 쪽으로 평가하기 때문에 2 : 'c'이다.

In [70]:
ms(1,[3,4,5,6,7], **{1:'3'})

TypeError: ms() keywords must be strings

In [71]:
def ms( **z):
    return z

In [72]:
ms(z = {1:'3'})

{'z': {1: '3'}}

In [73]:
def seq(k) :
    if type(k) is list or type(k) is str or type(k) is tuple :
        print("k is sequence")
    else :
        print("k is not sequence")

In [74]:
seq(123)

k is not sequence

In [75]:
seq([])

k is sequence

남이만든 함수 쓰기 
아규먼트 정확히 쓰기.  
**는 뒤의 입력이 딕셔너리
- 딕셔너리의 값이 중복되면 에러가 난다. 
- 키워드가 숫자이면 에러가 난다. 스트링을 쓰자. 
- *는 묶인것을 풀어해쳐준다. 아규먼트는 풀어서 사용해줘야 한다. 
- 함수의 signature는 기본적으로 문자열만 허용한다.

python 함수는 first class citizen. 관련된 것을 데이터(값) 처럼 사용할 수 있다. 
- 할당가능하다
- 함수의 인자로 들어갈 수 있다.
- 함수의 리턴값으로도 쓸 수 있다. 
- 자료형에 값으로 넣을 수 있다. 
함수가 first class citizen이면 first class function 이라고 한다. 
high- order functino : 함수를 리턴하거나 함수를 아규먼트로 받는 함수. first class fucntion은 무조건 해당된다. 

함수형 기법을 다루기 위해 중요한 개념이다.

In [76]:
a = {'a':1, 'b':2, 'c' : 3} 
#딕셔너리 마무리

In [77]:
for i in a:
    print(i)

a
b
c

in 은 key 만 체크한다. value를 체크하고 싶으면

In [78]:
for i in a:
    print(a[i])

1
2
3

In [79]:
for i in a.values():
    print(i)

1
2
3

In [80]:
a.keys()

dict_keys(['a', 'b', 'c'])

In [81]:
a.values()

dict_values([1, 2, 3])

In [82]:
a.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [83]:
for i, j in a.items(): #또다른 언팩킹 기법
    print(i, " : ", j)

a  :  1
b  :  2
c  :  3

In [84]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [85]:
from collections import OrderedDict #sequence type dict

In [86]:
def ms(*x, **y):
    return x,y

In [87]:
ms(1,2,3,4,5,6,7,8,k = 1, b = 2, c = 3, d = 4)

((1, 2, 3, 4, 5, 6, 7, 8), {'k': 1, 'b': 2, 'c': 3, 'd': 4})

In [88]:
ms(1,b = 3, d = 4, z = 5)

((1,), {'b': 3, 'd': 4, 'z': 5})

In [89]:
import seaborn as sns

In [90]:
dir(sns)

['FacetGrid',
 'JointGrid',
 'PairGrid',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_orig_rc_params',
 'algorithms',
 'axes_style',
 'axisgrid',
 'barplot',
 'blend_palette',
 'boxplot',
 'categorical',
 'choose_colorbrewer_palette',
 'choose_cubehelix_palette',
 'choose_dark_palette',
 'choose_diverging_palette',
 'choose_light_palette',
 'clustermap',
 'cm',
 'color_palette',
 'countplot',
 'crayon_palette',
 'crayons',
 'cubehelix_palette',
 'dark_palette',
 'desaturate',
 'despine',
 'distplot',
 'distributions',
 'diverging_palette',
 'external',
 'factorplot',
 'get_dataset_names',
 'heatmap',
 'hls_palette',
 'husl_palette',
 'jointplot',
 'kdeplot',
 'light_palette',
 'lmplot',
 'load_dataset',
 'lvplot',
 'matrix',
 'miscplot',
 'mpl',
 'mpl_palette',
 'pairplot',
 'palettes',
 'palplot',
 'plotting_context',
 'pointplot',
 'rcmod',
 'regplot',
 'regression',
 'reset_defaults',
 'reset_orig',
 'residplot',
 'rugplot',
 'saturate',
 'set',
 'set_color_codes',
 'set_context',
 'set_hls_values',
 'set_palette',
 'set_style',
 'stripplot',
 'swarmplot',
 'timeseries',
 'tsplot',
 'utils',
 'violinplot',
 'widgets',
 'xkcd_palette',
 'xkcd_rgb']

In [91]:
data = sns.load_dataset('tips')

In [92]:
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [93]:
type(data)

pandas.core.frame.DataFrame

In [95]:
dir(data) # 언더바 한개는 private

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_compare_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_expand_axes',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'day',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'sex',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'smoker',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'time',
 'tip',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'total_bill',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [96]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [97]:
data.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [98]:
data.groupby('sex').mean()

        total_bill       tip      size
sex
Male     20.744076  3.089618  2.630573
Female   18.056897  2.833448  2.459770

In [100]:
type(data.groupby('sex'))

pandas.core.groupby.groupby.DataFrameGroupBy

In [101]:
import inspect

## 함수형 기법

### 깔끔한 for

In [106]:
l = []
for i in range(1,11):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

문제점 : i가 살아있다. 즉, global scope로 처리된다.

In [108]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

loof 를 간결하게 하는것은 나중에 배울 함수형 프로그래밍의 핵심 기법이다.

In [109]:
[x for x in range(1,11) if x % 2 == 0]

[2, 4, 6, 8, 10]

In [110]:
{x for x in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [112]:
x

{1: 'a', 2: 'b'}

In [111]:
(x for x in range(1,11))

for 를 한단계 간단하게 하는 것을 comprehension이라고 한다.

In [113]:
[range(1,11)]

[range(1, 11)]

In [114]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

f(g(x) 형태를 띄는게 함수형 프로그래밍

In [117]:
'문근영'.replace('영','영은 이쁘다.').replace

In [120]:
sum(list(range(1,11)))

55

In [121]:
dir(map)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [124]:
list(map(lambda x : x+2, range(1,11)))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [125]:
type(map)

type

map은 iterable한 컨테이너를 어떠한 함수 형태로 매핑시켜주는 것.

In [126]:
map(lambda x : x+2, range(1,11))

In [128]:
str(map(lambda x : x+2, range(1,11)))

'<map object at 0x0000020BA27766D8>'

In [129]:
tuple(map(lambda x : x+2, range(1,11)))

(3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

In [130]:
list(map(lambda x : x+2, (1,2,3)))

[3, 4, 5]

In [132]:
(1,2,3)+2

TypeError: can only concatenate tuple (not "int") to tuple

In [134]:
(1,2,3) + (2,)

(1, 2, 3, 2)

iterable은 앞의 값은 그대로

In [135]:
(1,2,3) + (2)

TypeError: can only concatenate tuple (not "int") to tuple

In [140]:
list(map(lambda x : x + 2, {1,2,3}))

[3, 4, 5]

In [137]:
set(map(lambda x : x+2, {1,2,3}))

{3, 4, 5}

In [138]:
list(list(map(lambda x : x+2, "123")))

TypeError: must be str, not int

In [141]:
def add_two(x):
    return x+2

In [143]:
set(map(add_two,{1,2,3}))

{3, 4, 5}

In [147]:
set(filter(lambda x :x>3, {1,2,3,4,5,6}))

{4, 5, 6}

내가 찾는 조건을 만족시키지 않으면 필터시킨다.

In [148]:
all([' ',[],(),{}])

False

In [149]:
all([1,2,3])

True

all은 모두 참이어야 True

In [150]:
any([' ',[],(),{}])

True

any는 이중에 하나만 참이면 True

In [154]:
sorted([1,3,2])

[1, 2, 3]

In [155]:
sorted(['A','a'],key = str.lower)

['A', 'a']

In [156]:
a = enumerate([1,2,3])

In [157]:
a

In [158]:
b = (x for x in range(10))

In [159]:
b

결과값이 <로 튀어나오면 generator일 확률이 크다.

In [160]:
def a():
    return [1,2,3,4,5]

In [161]:
xx = a()

In [163]:
type(xx)

list

In [164]:
for a in a():
    print(a)

1
2
3
4
5

__iter__ 이 있으면 iterable하다.

In [165]:
dir(enumerate)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [166]:
b = (x for x in range(10))

In [167]:
b

In [168]:
for i in b:
    print(i)

0
1
2
3
4
5
6
7
8
9

이러한 중간객체라도 __iter__가 있으면 iterable하게 돌릴수 있다.

generator 들은 lazy 기법이라고 해서 메모리에 한번에 올리지 않고 하나씩 하나씩 올린다. 그래서 메모리가 크거나 데이터가 적은경우는 느리기 때문에 적합하지 않다.

In [171]:
a = enumerate([1,2,3])

In [172]:
a

In [177]:
for i in enumerate(range(3,11)):
    print(i)

(0, 3)
(1, 4)
(2, 5)
(3, 6)
(4, 7)
(5, 8)
(6, 9)
(7, 10)

In [178]:
for i, j in enumerate(range(3,11)):
    print(i,j)

0 3
1 4
2 5
3 6
4 7
5 8
6 9
7 10

enumerate 도 generator 중 하나이다.

In [180]:
for i in map(lambda x : x+1, range(1,11)):
    print(i)

2
3
4
5
6
7
8
9
10
11

in 다음에 오는건 iterable

In [181]:
a = 3
b = 4 if a>1 else 5
b

4

In [182]:
#c = [x for x in range(10) if x > 5]

In [183]:
c = [x+2 for x in range(10) if x > 5]

In [184]:
c

[8, 9, 10, 11]

In [185]:
c = [x+2 if x>5 else '' for x in range(10)]

In [186]:
c

['', '', '', '', '', '', 8, 9, 10, 11]

In [194]:
c = [(i,j,i*j) for i in range(1,10)if i % 2 == 1 for j in range(1,10)]

In [195]:
c

[(1, 1, 1),
 (1, 2, 2),
 (1, 3, 3),
 (1, 4, 4),
 (1, 5, 5),
 (1, 6, 6),
 (1, 7, 7),
 (1, 8, 8),
 (1, 9, 9),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (5, 9, 45),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (7, 9, 63),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72),
 (9, 9, 81)]

In [196]:
[(i,j,k,i*j*k) for i in range(1,10)if i % 2 == 1 for j in range(1,10) for k in range(1,10)]

[(1, 1, 1, 1),
 (1, 1, 2, 2),
 (1, 1, 3, 3),
 (1, 1, 4, 4),
 (1, 1, 5, 5),
 (1, 1, 6, 6),
 (1, 1, 7, 7),
 (1, 1, 8, 8),
 (1, 1, 9, 9),
 (1, 2, 1, 2),
 (1, 2, 2, 4),
 (1, 2, 3, 6),
 (1, 2, 4, 8),
 (1, 2, 5, 10),
 (1, 2, 6, 12),
 (1, 2, 7, 14),
 (1, 2, 8, 16),
 (1, 2, 9, 18),
 (1, 3, 1, 3),
 (1, 3, 2, 6),
 (1, 3, 3, 9),
 (1, 3, 4, 12),
 (1, 3, 5, 15),
 (1, 3, 6, 18),
 (1, 3, 7, 21),
 (1, 3, 8, 24),
 (1, 3, 9, 27),
 (1, 4, 1, 4),
 (1, 4, 2, 8),
 (1, 4, 3, 12),
 (1, 4, 4, 16),
 (1, 4, 5, 20),
 (1, 4, 6, 24),
 (1, 4, 7, 28),
 (1, 4, 8, 32),
 (1, 4, 9, 36),
 (1, 5, 1, 5),
 (1, 5, 2, 10),
 (1, 5, 3, 15),
 (1, 5, 4, 20),
 (1, 5, 5, 25),
 (1, 5, 6, 30),
 (1, 5, 7, 35),
 (1, 5, 8, 40),
 (1, 5, 9, 45),
 (1, 6, 1, 6),
 (1, 6, 2, 12),
 (1, 6, 3, 18),
 (1, 6, 4, 24),
 (1, 6, 5, 30),
 (1, 6, 6, 36),
 (1, 6, 7, 42),
 (1, 6, 8, 48),
 (1, 6, 9, 54),
 (1, 7, 1, 7),
 (1, 7, 2, 14),
 (1, 7, 3, 21),
 (1, 7, 4, 28),
 (1, 7, 5, 35),
 (1, 7, 6, 42),
 (1, 7, 7, 49),
 (1, 7, 8, 56),
 (1, 7, 9, 63),
 (1, 8, 1, 8),
 (1, 8, 2, 16),
 (1, 8, 3, 24),
 (1, 8, 4, 32),
 (1, 8, 5, 40),
 (1, 8, 6, 48),
 (1, 8, 7, 56),
 (1, 8, 8, 64),
 (1, 8, 9, 72),
 (1, 9, 1, 9),
 (1, 9, 2, 18),
 (1, 9, 3, 27),
 (1, 9, 4, 36),
 (1, 9, 5, 45),
 (1, 9, 6, 54),
 (1, 9, 7, 63),
 (1, 9, 8, 72),
 (1, 9, 9, 81),
 (3, 1, 1, 3),
 (3, 1, 2, 6),
 (3, 1, 3, 9),
 (3, 1, 4, 12),
 (3, 1, 5, 15),
 (3, 1, 6, 18),
 (3, 1, 7, 21),
 (3, 1, 8, 24),
 (3, 1, 9, 27),
 (3, 2, 1, 6),
 (3, 2, 2, 12),
 (3, 2, 3, 18),
 (3, 2, 4, 24),
 (3, 2, 5, 30),
 (3, 2, 6, 36),
 (3, 2, 7, 42),
 (3, 2, 8, 48),
 (3, 2, 9, 54),
 (3, 3, 1, 9),
 (3, 3, 2, 18),
 (3, 3, 3, 27),
 (3, 3, 4, 36),
 (3, 3, 5, 45),
 (3, 3, 6, 54),
 (3, 3, 7, 63),
 (3, 3, 8, 72),
 (3, 3, 9, 81),
 (3, 4, 1, 12),
 (3, 4, 2, 24),
 (3, 4, 3, 36),
 (3, 4, 4, 48),
 (3, 4, 5, 60),
 (3, 4, 6, 72),
 (3, 4, 7, 84),
 (3, 4, 8, 96),
 (3, 4, 9, 108),
 (3, 5, 1, 15),
 (3, 5, 2, 30),
 (3, 5, 3, 45),
 (3, 5, 4, 60),
 (3, 5, 5, 75),
 (3, 5, 6, 90),
 (3, 5, 7, 105),
 (3, 5, 8, 120),
 (3, 5, 9, 135),
 (3, 6, 1, 18),
 (3, 6, 2, 36),
 (3, 6, 3, 54),
 (3, 6, 4, 72),
 (3, 6, 5, 90),
 (3, 6, 6, 108),
 (3, 6, 7, 126),
 (3, 6, 8, 144),
 (3, 6, 9, 162),
 (3, 7, 1, 21),
 (3, 7, 2, 42),
 (3, 7, 3, 63),
 (3, 7, 4, 84),
 (3, 7, 5, 105),
 (3, 7, 6, 126),
 (3, 7, 7, 147),
 (3, 7, 8, 168),
 (3, 7, 9, 189),
 (3, 8, 1, 24),
 (3, 8, 2, 48),
 (3, 8, 3, 72),
 (3, 8, 4, 96),
 (3, 8, 5, 120),
 (3, 8, 6, 144),
 (3, 8, 7, 168),
 (3, 8, 8, 192),
 (3, 8, 9, 216),
 (3, 9, 1, 27),
 (3, 9, 2, 54),
 (3, 9, 3, 81),
 (3, 9, 4, 108),
 (3, 9, 5, 135),
 (3, 9, 6, 162),
 (3, 9, 7, 189),
 (3, 9, 8, 216),
 (3, 9, 9, 243),
 (5, 1, 1, 5),
 (5, 1, 2, 10),
 (5, 1, 3, 15),
 (5, 1, 4, 20),
 (5, 1, 5, 25),
 (5, 1, 6, 30),
 (5, 1, 7, 35),
 (5, 1, 8, 40),
 (5, 1, 9, 45),
 (5, 2, 1, 10),
 (5, 2, 2, 20),
 (5, 2, 3, 30),
 (5, 2, 4, 40),
 (5, 2, 5, 50),
 (5, 2, 6, 60),
 (5, 2, 7, 70),
 (5, 2, 8, 80),
 (5, 2, 9, 90),
 (5, 3, 1, 15),
 (5, 3, 2, 30),
 (5, 3, 3, 45),
 (5, 3, 4, 60),
 (5, 3, 5, 75),
 (5, 3, 6, 90),
 (5, 3, 7, 105),
 (5, 3, 8, 120),
 (5, 3, 9, 135),
 (5, 4, 1, 20),
 (5, 4, 2, 40),
 (5, 4, 3, 60),
 (5, 4, 4, 80),
 (5, 4, 5, 100),
 (5, 4, 6, 120),
 (5, 4, 7, 140),
 (5, 4, 8, 160),
 (5, 4, 9, 180),
 (5, 5, 1, 25),
 (5, 5, 2, 50),
 (5, 5, 3, 75),
 (5, 5, 4, 100),
 (5, 5, 5, 125),
 (5, 5, 6, 150),
 (5, 5, 7, 175),
 (5, 5, 8, 200),
 (5, 5, 9, 225),
 (5, 6, 1, 30),
 (5, 6, 2, 60),
 (5, 6, 3, 90),
 (5, 6, 4, 120),
 (5, 6, 5, 150),
 (5, 6, 6, 180),
 (5, 6, 7, 210),
 (5, 6, 8, 240),
 (5, 6, 9, 270),
 (5, 7, 1, 35),
 (5, 7, 2, 70),
 (5, 7, 3, 105),
 (5, 7, 4, 140),
 (5, 7, 5, 175),
 (5, 7, 6, 210),
 (5, 7, 7, 245),
 (5, 7, 8, 280),
 (5, 7, 9, 315),
 (5, 8, 1, 40),
 (5, 8, 2, 80),
 (5, 8, 3, 120),
 (5, 8, 4, 160),
 (5, 8, 5, 200),
 (5, 8, 6, 240),
 (5, 8, 7, 280),
 (5, 8, 8, 320),
 (5, 8, 9, 360),
 (5, 9, 1, 45),
 (5, 9, 2, 90),
 (5, 9, 3, 135),
 (5, 9, 4, 180),
 (5, 9, 5, 225),
 (5, 9, 6, 270),
 (5, 9, 7, 315),
 (5, 9, 8, 360),
 (5, 9, 9, 405),
 (7, 1, 1, 7),
 (7, 1, 2, 14),
 (7, 1, 3, 21),
 (7, 1, 4, 28),
 (7, 1, 5, 35),
 (7, 1, 6, 42),
 (7, 1, 7, 49),
 (7, 1, 8, 56),
 (7, 1, 9, 63),
 (7, 2, 1, 14),
 (7, 2, 2, 28),
 (7, 2, 3, 42),
 (7, 2, 4, 56),
 (7, 2, 5, 70),
 (7, 2, 6, 84),
 (7, 2, 7, 98),
 (7, 2, 8, 112),
 (7, 2, 9, 126),
 (7, 3, 1, 21),
 (7, 3, 2, 42),
 (7, 3, 3, 63),
 (7, 3, 4, 84),
 (7, 3, 5, 105),
 (7, 3, 6, 126),
 (7, 3, 7, 147),
 (7, 3, 8, 168),
 (7, 3, 9, 189),
 (7, 4, 1, 28),
 (7, 4, 2, 56),
 (7, 4, 3, 84),
 (7, 4, 4, 112),
 (7, 4, 5, 140),
 (7, 4, 6, 168),
 (7, 4, 7, 196),
 (7, 4, 8, 224),
 (7, 4, 9, 252),
 (7, 5, 1, 35),
 (7, 5, 2, 70),
 (7, 5, 3, 105),
 (7, 5, 4, 140),
 (7, 5, 5, 175),
 (7, 5, 6, 210),
 (7, 5, 7, 245),
 (7, 5, 8, 280),
 (7, 5, 9, 315),
 (7, 6, 1, 42),
 (7, 6, 2, 84),
 (7, 6, 3, 126),
 (7, 6, 4, 168),
 (7, 6, 5, 210),
 (7, 6, 6, 252),
 (7, 6, 7, 294),
 (7, 6, 8, 336),
 (7, 6, 9, 378),
 (7, 7, 1, 49),
 (7, 7, 2, 98),
 (7, 7, 3, 147),
 (7, 7, 4, 196),
 (7, 7, 5, 245),
 (7, 7, 6, 294),
 (7, 7, 7, 343),
 (7, 7, 8, 392),
 (7, 7, 9, 441),
 (7, 8, 1, 56),
 (7, 8, 2, 112),
 (7, 8, 3, 168),
 (7, 8, 4, 224),
 (7, 8, 5, 280),
 (7, 8, 6, 336),
 (7, 8, 7, 392),
 (7, 8, 8, 448),
 (7, 8, 9, 504),
 (7, 9, 1, 63),
 (7, 9, 2, 126),
 (7, 9, 3, 189),
 (7, 9, 4, 252),
 (7, 9, 5, 315),
 (7, 9, 6, 378),
 (7, 9, 7, 441),
 (7, 9, 8, 504),
 (7, 9, 9, 567),
 (9, 1, 1, 9),
 (9, 1, 2, 18),
 (9, 1, 3, 27),
 (9, 1, 4, 36),
 (9, 1, 5, 45),
 (9, 1, 6, 54),
 (9, 1, 7, 63),
 (9, 1, 8, 72),
 (9, 1, 9, 81),
 (9, 2, 1, 18),
 (9, 2, 2, 36),
 (9, 2, 3, 54),
 (9, 2, 4, 72),
 (9, 2, 5, 90),
 (9, 2, 6, 108),
 (9, 2, 7, 126),
 (9, 2, 8, 144),
 (9, 2, 9, 162),
 (9, 3, 1, 27),
 (9, 3, 2, 54),
 (9, 3, 3, 81),
 (9, 3, 4, 108),
 (9, 3, 5, 135),
 (9, 3, 6, 162),
 (9, 3, 7, 189),
 (9, 3, 8, 216),
 (9, 3, 9, 243),
 (9, 4, 1, 36),
 (9, 4, 2, 72),
 (9, 4, 3, 108),
 (9, 4, 4, 144),
 (9, 4, 5, 180),
 (9, 4, 6, 216),
 (9, 4, 7, 252),
 (9, 4, 8, 288),
 (9, 4, 9, 324),
 (9, 5, 1, 45),
 (9, 5, 2, 90),
 (9, 5, 3, 135),
 (9, 5, 4, 180),
 (9, 5, 5, 225),
 (9, 5, 6, 270),
 (9, 5, 7, 315),
 (9, 5, 8, 360),
 (9, 5, 9, 405),
 (9, 6, 1, 54),
 (9, 6, 2, 108),
 (9, 6, 3, 162),
 (9, 6, 4, 216),
 (9, 6, 5, 270),
 (9, 6, 6, 324),
 (9, 6, 7, 378),
 (9, 6, 8, 432),
 (9, 6, 9, 486),
 (9, 7, 1, 63),
 (9, 7, 2, 126),
 (9, 7, 3, 189),
 (9, 7, 4, 252),
 (9, 7, 5, 315),
 (9, 7, 6, 378),
 (9, 7, 7, 441),
 (9, 7, 8, 504),
 (9, 7, 9, 567),
 (9, 8, 1, 72),
 (9, 8, 2, 144),
 (9, 8, 3, 216),
 (9, 8, 4, 288),
 (9, 8, 5, 360),
 (9, 8, 6, 432),
 (9, 8, 7, 504),
 (9, 8, 8, 576),
 (9, 8, 9, 648),
 (9, 9, 1, 81),
 (9, 9, 2, 162),
 (9, 9, 3, 243),
 (9, 9, 4, 324),
 (9, 9, 5, 405),
 (9, 9, 6, 486),
 (9, 9, 7, 567),
 (9, 9, 8, 648),
 (9, 9, 9, 729)]

functional programing 기법들
1. for 문 단축
2. for를 쓰지 않는다.
3. 
4. mutable을 쓰지 않는다.

In [201]:
def mutable(x,y = []):
    y.append(x)
    return y
           # 절대로 default값은 mutable을 쓰지 말아야한다.

In [202]:
mutable(1)

[1]

In [203]:
mutable(2)

[1, 2]

원하는 값은 2넣었을 때, 2만 나왔어야 했다.

In [204]:
mutable(3)

[1, 2, 3]

mutable 은 자기 자신이 변할 수 있다. 그래서 default값은 mutable을 쓰지 말아야 한다.

In [206]:
import time
time.time()

1530770583.343832

In [207]:
def time_at(time = time.time()):
    return time

In [208]:
time_at()

1530770623.7258353

In [209]:
time_at()

1530770623.7258353

In [210]:
time.sleep(5)

In [211]:
time_at()

1530770623.7258353

parameter값으로 고정이되기 때문에 시간이 변하지 않는다.

In [213]:
def moon(self = None):
    return self

In [214]:
moon()

In [215]:
moon(1)

1

디버깅 할 때 중요한 요소.

In [221]:
x = 1
def a():
    x = 2
    print(x)
    return x
print(a())
print(x)

2
2
1

In [222]:
x

1

scope의 법칙 LEGB

In [224]:
x = 1
y = 3
def a():
    x = 2
    print(y)
    print(x)
    return x
print(y)
print(a())
print(x)

3
3
2
2
1

범위 내에 없으면 밖에 있는 것을 가지고 온다.

In [226]:
x = 1
y = 3
def a():
    x = 2
    x += 3
    print(y)
    print(x)
    return x
print(y)
print(a())
print(x)

3
3
5
5
1

In [228]:
x = 1
y = 3
def a():
    global x
    x += 3
    print(y)
    print(x)
    return x
print(y)
print(a())
print(x)

3
3
4
4
4

global 이란 것은 함수 밖에서 선언된 값을 전역변수로 쓰겠다는 것. 함수 밖에서 가져온다.

In [229]:
x = 1
y = 3
def a():
    #global x
    x += 3
    print(y)
    print(x)
    return x
print(y)
print(a())
print(x)

3

UnboundLocalError: local variable 'x' referenced before assignment

x 가 범위내에 선언이 안되있어서 접근을 못한다.

In [230]:
import keyword

In [231]:
dir(keyword)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'kwlist',
 'main']

In [236]:
x = 1
y = 3
def a():
    x = 3
    def b(x):
        return x
    return b
print(a()(3))
print(x)

3
1

In [237]:
x = 1
y = 3
def a():
    
    def b(x):
        return x
    return b
print(a()(1))
print(x)

1
1

In [241]:
x = 1
y = 3
def a():
    x = 2
    def b():
        return x
    return b
print(a()())
print(x)

2
1

b에서 제일 가까이 있는 x가 2이므로 x가 2로 나온다.

In [242]:
x = 1
y = 3
def a():
    x = 2
    def b():
        global x
        return x
    return b
print(a()())
print(x)

1
1

global은 함수 밖에있는 영역에서 가져온다.

In [243]:
x = 1
y = 3
def a():
   # x = 2
    def b():
    #    global x
        return x
    x = 2
    return b
print(a()())
print(x)

2
1

In [245]:
x = 1
y = 3
def a():
  
    def b():
        nonlocal x
        return x
    x = 2
    return b
print(a()())
print(x)

2
1

In [246]:
x = 'global'
def foo():
    x = x*2
    print(x)
foo()

UnboundLocalError: local variable 'x' referenced before assignment

x를 바꿨기 때문에 global로 함수 내부에서 선언해야 한다.

In [248]:
x = 'global'
def foo():
    nonlocal x
    x = x*2
    print(x)
foo()

SyntaxError: no binding for nonlocal 'x' found (<ipython-input-248-7ebc6212a36f>, line 3)

global은 완전 함수 밖에, nonlocal은 중첩함수 한단계 위일 때. 중첩함수의 inner function은 밖에서 부를 수 없다.

In [253]:
a,b = 3,4

In [254]:
a, b = b, a
a,b

(4, 3)

swap

In [255]:
a = 1
b = 1
a is b

True

In [256]:
a = 257
b = 257
a is b

False