# 데이터

데이터를 다루는 법에 대해서 배운다.

정형데이터(RDBMS 사용), 비정형 데이터. 웹에있는 수많은 데이터를 다루려면 HTML에 대해서 알아야함.

## 1.  DBMS

80퍼센트는 비정형데이터이다.

비정형데이터는 형태가 없으므로 위험부담이 매우 크다.

기업들의 수익모델은 전통적으로 structured data에서 나온다.

데이터, 정보의 차이. 데이터에서 쓸모있는 것을 뽑아낸 것이 정보.

데이터베이스는 서로 연관되어 있는 데이터의 집합

데이터베이스의 조건
- 통합
   데이터가 중복되지 않도록 구성
   최소한의 중복만 허용한다.
- 저장
   
- 공유
- 운영

머신러닝에는 db를 쓰지 않는다.

비정형데이터에서도 db를 쓰지 않고 파일형태나 트리구조를 사용한다.

db는 값을 가지고 (저장되어있는 주소나 위치가 아니라) 탐색한다.

DBMS는 db를 대신 관리해주는 시스템. 사용자나 다른 응용프로그램들이 직접적으로 db에 접근하는게 아니라 DBMS를 통해서 접근한다.

DBMS 역할 : 데이터를 인서트, 업데이트, 딜리트, 정렬, 데이터베이스 생성 등.

### DBMS 종류

1. 계층형 모델
2. 네트워크형 모델
3. 관계 데이터 모델
4. 객체 관계 모델(RDBMS)

RDBMS가 가장 일반적이다.

ORM은 클래스를 테이블과 매칭시켜준다. RDBMS와 실제 프로그램 간의 연결

## RDMBS

- 데이터 무결성
- 관리하는 통로가 하나기 때문에 어떠한 데이터베이스든지 간에 같은 방식으로 관리가 가능하다.

Relation 을 관리해주는 DBMS라고 해서 RDBMS이다.

- Relation / Table
- Tuple / Row or Record
- Attribute / Column or Field
- Cardinality / Number of Rows
- Degree / Number of Columns
- Domain / Pool or legal values
- Primary Key / Unique identifier

개체 관계 모델(Entity-Relationship Model)
- 개체(Entity)
실 세계에 존재하는 분리된 실체 하나를 표현, 일반적으로 명사 하나에 해당
- 관계(Relationship)
개체들 사이에 존재하는 연관이나 연결, 일반적으로 동사에 해당
최소 대응수(minimum cardinality)와 최대 대응수(maximum cardinality)로 구성
- 속성(Attribute)
개체의 성질, 분류, 식별, 수량, 상태 등을 나타내는 세부 항목
관계 또한 속성을 보유할 수 있음
- 기본키(Primary Key)
모든 개체를 고유하게 식별할 수 있는 속성

ER쪽은 넘어간다.

### Data type

char vs varchar

char : 고정. 길이에 모자라면 공란으로 (space)채운다.

   varchar : 고정되지 않음, 길이가 가변

real, float, double : 고정 소수점. float이 가장 많이 쓰인다.

   numeric : 가변 소수점. 기본적으로 float와 같다. 아마 쓸일이 별로 없을 것.

LOB : 데이터의 크기가 큰것. CLOB, ILOB등이 있다. CLOB(5M) 식으로 크기를 정해준다.

### SQLite

python에서 기본적으로 제공한다.

In [21]:
import sqlite3

In [22]:
dir(sqlite3)

['Binary',
 'Cache',
 'Connection',
 'Cursor',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'OptimizedUnicode',
 'PARSE_COLNAMES',
 'PARSE_DECLTYPES',
 'PrepareProtocol',
 'ProgrammingError',
 'Row',
 'SQLITE_ALTER_TABLE',
 'SQLITE_ANALYZE',
 'SQLITE_ATTACH',
 'SQLITE_CREATE_INDEX',
 'SQLITE_CREATE_TABLE',
 'SQLITE_CREATE_TEMP_INDEX',
 'SQLITE_CREATE_TEMP_TABLE',
 'SQLITE_CREATE_TEMP_TRIGGER',
 'SQLITE_CREATE_TEMP_VIEW',
 'SQLITE_CREATE_TRIGGER',
 'SQLITE_CREATE_VIEW',
 'SQLITE_DELETE',
 'SQLITE_DENY',
 'SQLITE_DETACH',
 'SQLITE_DROP_INDEX',
 'SQLITE_DROP_TABLE',
 'SQLITE_DROP_TEMP_INDEX',
 'SQLITE_DROP_TEMP_TABLE',
 'SQLITE_DROP_TEMP_TRIGGER',
 'SQLITE_DROP_TEMP_VIEW',
 'SQLITE_DROP_TRIGGER',
 'SQLITE_DROP_VIEW',
 'SQLITE_IGNORE',
 'SQLITE_INSERT',
 'SQLITE_OK',
 'SQLITE_PRAGMA',
 'SQLITE_READ',
 'SQLITE_REINDEX',
 'SQLITE_SELECT',
 'SQLITE_TRANSACTION',
 'SQLITE_UPDATE',
 'Statement',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'adapt',
 'adapters',
 'apilevel',
 'collections',
 'complete_statement',
 'connect',
 'converters',
 'datetime',
 'dbapi2',
 'enable_callback_tracebacks',
 'enable_shared_cache',
 'paramstyle',
 'register_adapter',
 'register_converter',
 'sqlite_version',
 'sqlite_version_info',
 'threadsafety',
 'time',
 'version',
 'version_info']

In [23]:
sqlite3.version

'2.6.0'

In [24]:
sqlite3.version_info

(2, 6, 0)

In [25]:
sqlite3.sqlite_version

'3.21.0'

In [26]:
sqlite3.sqlite_version_info

(3, 21, 0)

 3.21.0은 실제 해석하고 돌아가는 버전. 2.6.0은 패키지 버전.

In [28]:
conn = sqlite3.connect(':memory:')

In [29]:
conn

메모리에 데이터베이스 커넥션을 객체로 연결

In [31]:
cur = conn.cursor()

In [32]:
cur

커서 객체 생성

In [33]:
type(cur)

sqlite3.Cursor

In [34]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

TEXT 는 varchar 같은 동적할당 기능이 없다.

그래서 다른 dbms로 이관 자체가 힘들다.

BLOB 는 동영상, 소리, 이미지 등의 바이너리 저장

In [35]:
cur.execute('create table people (name_last, age)')

In [36]:
cur

In [37]:
who = 'Yeltsin"'

In [39]:
age = 72

In [40]:
cur.execute("insert into people values(?,?)",(who,age))

In [41]:
cur.execute("select * from people where name_last=:who and age=:age", {"who": who, "age":age})

In [43]:
print(cur.fetchone())

('Yeltsin"', 72)

In [44]:
cur.fetchone()

executemany : sql문을 파라미터 시퀀스에 맞게 차례대로 시행한다.

In [45]:
sql = "insert into people values (?, ?)"

In [46]:
curData = [('A',1),('B',2), ('C',3)]

In [50]:
cur.executemany(sql, curData)

executescript : 여러개의 sql문을 script로 묶어서 시행

In [51]:
cur.executescript("""
    create table person(
        first_name text primary key,
        last_name text not null
        
    );
    insert into person values('name', 'kim');
""")

In [52]:
cur.execute('select * from person')

In [53]:
print(cur.fetchall())

[('name', 'kim')]

In [54]:
cur.execute('select * from people')

In [55]:
print(cur.fetchall())

[('Yeltsin"', 72), ('A', 1), ('B', 2), ('C', 3), ('A', 1), ('B', 2), ('C', 3)]

In [56]:
conn.close()

In [57]:
conn = sqlite3.connect("test.db")

db를 파일 형태로 저장

In [63]:
conn = sqlite3.connect('create.db')
print('Open')

conn.execute('''
    CREATE TABLE COMPANY(
        ID INT PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        AGE  INT NOT NULL,
        ADDRESS   CHAR(50),
        SALARY   REAL);  ''')
print('Table created successfully')

Open
Table created successfully

In [64]:
conn.execute('drop table company')

In [65]:
conn = sqlite3.connect('create.db')
print('Open')

conn.execute('''
    CREATE TABLE COMPANY(
        ID INT PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        AGE  INT NOT NULL,
        ADDRESS   CHAR(50),
        SALARY   REAL);  ''')
print('Table created successfully')

Open
Table created successfully

In [77]:
conn.execute('''INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
     VALUES (1, 'PaUL', 32, 'CALIFORNIA', 20000.00);''')

In [78]:
conn.execute('''INSERT INTO COMPANY (ID,NAME, AGE, ADDRESS, SALARY)
    VALUES (:ID, :NAME, :AGE, :ADDRESS, :SALARY)''', 
             {'ID' : 2, 'NAME' : 'ALLEN', 'AGE' : 25, 'ADDRESS' : 'TEXAS',
             'SALARY' : 15000.00});

In [79]:
DATA = [(3, 'TEDDY', 23, 'NORWAY', 200000.00), (4,'MARK',25,'RICH-MOND', 65000.00)]

In [80]:
temp = conn.execute("select * from company")

In [81]:
type(temp)

sqlite3.Cursor

cursor를 excute가 가져왔다.

In [82]:
for i in temp :
    print(type(i), i)

<class 'tuple'> (1, 'PaUL', 32, 'CALIFORNIA', 20000.0)
<class 'tuple'> (2, 'ALLEN', 25, 'TEXAS', 15000.0)

In [86]:
conn.execute("update company set salary = 2500.00 where id = :ID",{'ID', :cid})

SyntaxError: invalid syntax (<ipython-input-86-d23ec05d527d>, line 1)

In [85]:
cid = 1

In [87]:
conn.commit