In [9]:
from sqlalchemy import create_engine, MetaData

In [10]:
engine = create_engine('sqlite:///alchemy.db', echo = True)

In [11]:
conn = engine.connect()

2018-07-10 16:32:13,180 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:32:13,181 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,183 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:32:13,184 INFO sqlalchemy.engine.base.Engine ()

In [12]:
metadata = MetaData(bind = engine, reflect = True)
metadata.reflect(bind = engine)

for row in metadata.tables :
    print(row)

2018-07-10 16:32:13,334 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 16:32:13,336 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,339 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-10 16:32:13,340 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,343 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-10 16:32:13,344 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,348 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2018-07-10 16:32:13,349 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,352 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-10 16:32:13,353 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,360 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-10 16:32:13,361 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,362 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-10 16:32:13,363 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,365 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2018-07-10 16:32:13,366 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,367 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-10 16:32:13,368 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,370 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-10 16:32:13,372 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,373 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-10 16:32:13,374 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,375 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-10 16:32:13,376 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,381 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-10 16:32:13,382 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,384 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-10 16:32:13,384 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,386 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-10 16:32:13,387 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,389 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-10 16:32:13,390 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,392 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-10 16:32:13,392 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,394 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2018-07-10 16:32:13,397 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,399 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-10 16:32:13,400 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,403 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-10 16:32:13,404 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,406 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-10 16:32:13,407 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,408 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-10 16:32:13,409 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,411 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-10 16:32:13,411 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,413 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-10 16:32:13,414 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,416 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2018-07-10 16:32:13,416 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,418 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-10 16:32:13,419 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,422 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-10 16:32:13,423 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,426 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-10 16:32:13,427 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,430 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-10 16:32:13,430 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,433 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adress")
2018-07-10 16:32:13,434 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,436 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'adress' AND type = 'table'
2018-07-10 16:32:13,438 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,440 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("adress")
2018-07-10 16:32:13,440 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,442 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'adress' AND type = 'table'
2018-07-10 16:32:13,443 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,445 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-10 16:32:13,446 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,448 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-07-10 16:32:13,449 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,451 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("users")
2018-07-10 16:32:13,452 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,453 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-07-10 16:32:13,454 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,455 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2018-07-10 16:32:13,456 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,458 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2018-07-10 16:32:13,459 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,460 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-07-10 16:32:13,461 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,463 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("adress")
2018-07-10 16:32:13,464 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,465 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("adress")
2018-07-10 16:32:13,466 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,467 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'adress' AND type = 'table'

2018-07-10 16:32:13,468 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:32:13,471 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 16:32:13,471 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track
adress
users

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.
  """Entry point for launching an IPython kernel.

In [13]:
metadata.reflect(bind = engine)

2018-07-10 16:32:13,535 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 16:32:13,536 INFO sqlalchemy.engine.base.Engine ()

In [14]:
for row in metadata.tables :
    print(row)

Album
Artist
Genre
Track
adress
users

In [15]:
tables = metadata.tables
for table in tables :
    print(table)

Album
Artist
Genre
Track
adress
users

In [16]:
track = metadata.tables['Track']
track

Table('Track', MetaData(bind=Engine(sqlite:///alchemy.db)), Column('id', INTEGER(), table=<Track>, primary_key=True, nullable=False), Column('title', VARCHAR(), table=<Track>, nullable=False), Column('length', INTEGER(), table=<Track>, nullable=False), Column('rating', INTEGER(), table=<Track>, nullable=False), Column('count', INTEGER(), table=<Track>, nullable=False), Column('album_id', INTEGER(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', INTEGER(), ForeignKey('Genre.id'), table=<Track>), schema=None)

In [17]:
for row in conn.execute(track.select()).fetchall():
    print(row)

2018-07-10 16:34:42,028 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
2018-07-10 16:34:42,029 INFO sqlalchemy.engine.base.Engine ()
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 2)
(3, 'About to Rock', 482, 5, 0, 2, 1)
(4, 'who made who', 482, 5, 0, 2, 2)

In [18]:
conn.close()
metadata.clear()

## ORM