# W2 Thu Lecture

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('sqlite:///alchemy.db', echo = True)

In [10]:
from sqlalchemy.ext.automap import automap_base

In [11]:
Base = automap_base()

In [12]:
Base.prepare(engine, reflect=True)

2018-07-12 10:35:07,206 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-12 10:35:07,210 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,212 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-12 10:35:07,213 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,215 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-12 10:35:07,216 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,221 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-12 10:35:07,222 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,224 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 10:35:07,225 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,228 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2018-07-12 10:35:07,229 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,231 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 10:35:07,232 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,239 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-12 10:35:07,241 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,243 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 10:35:07,244 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,246 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2018-07-12 10:35:07,248 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,250 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 10:35:07,251 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,252 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-12 10:35:07,253 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,255 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-12 10:35:07,256 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,257 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 10:35:07,258 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,264 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-12 10:35:07,265 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,267 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-12 10:35:07,268 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,270 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 10:35:07,271 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,273 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-12 10:35:07,275 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,277 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 10:35:07,277 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,279 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2018-07-12 10:35:07,280 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,282 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 10:35:07,283 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,285 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-12 10:35:07,286 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,287 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-12 10:35:07,288 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,290 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 10:35:07,290 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,292 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-12 10:35:07,293 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,296 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 10:35:07,298 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,302 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2018-07-12 10:35:07,303 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,304 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 10:35:07,305 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,308 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-12 10:35:07,309 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,310 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-12 10:35:07,311 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,312 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 10:35:07,315 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,318 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adress")
2018-07-12 10:35:07,321 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,325 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'adress' AND type = 'table'
2018-07-12 10:35:07,326 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,327 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("adress")
2018-07-12 10:35:07,328 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,330 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'adress' AND type = 'table'
2018-07-12 10:35:07,333 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,334 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-12 10:35:07,335 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,337 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-07-12 10:35:07,338 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,340 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("users")
2018-07-12 10:35:07,341 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,342 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-07-12 10:35:07,344 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,347 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2018-07-12 10:35:07,349 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,353 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2018-07-12 10:35:07,354 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,356 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-07-12 10:35:07,357 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,359 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("adress")

2018-07-12 10:35:07,359 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,361 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("adress")
2018-07-12 10:35:07,362 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:35:07,365 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'adress' AND type = 'table'
2018-07-12 10:35:07,366 INFO sqlalchemy.engine.base.Engine ()

In [13]:
from sqlalchemy.orm import sessionmaker

In [14]:
Session = sessionmaker(bind = engine)

In [15]:
ss = Session()

In [16]:
artist = Base.classes.Artist

In [17]:
artist

sqlalchemy.ext.automap.Artist

In [18]:
artist.name

In [19]:
result = ss.query(artist)

In [20]:
for row in result:
    print(row.id, row.name)

2018-07-12 10:35:09,722 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-12 10:35:09,723 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
2018-07-12 10:35:09,724 INFO sqlalchemy.engine.base.Engine ()
1 Led Zepllin
2 AC/DC