In [1]:
import sqlite3 as sql

In [2]:
conn = sql.connect('album.db')

In [3]:
cur = conn.cursor()

In [8]:
cur.executescript('''
    
    CREATE TABLE ARTIST
        (
        ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        NAME TEXT
        );
    CREATE TABLE  GENRE(
        ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        NAME TEXT
        );
    CREATE TABLE ALBUM(
        ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        TITLE TEXT,
        ARTIST_ID INTEGER
    );
    
    ''')

In [10]:
cur.execute('''CREATE TABLE Track (
id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
title TEXT,
length INTEGER,
rating INTEGER,
count INTEGER,
album_id INTEGER,
genre_id INTEGER
)
''')

In [11]:
cur.executescript('''
    
    INSERT INTO ARTIST(NAME) VALUES('LED ZEPPLIN');
    INSERT INTO ARTIST(NAME) VALUES('AC/DC');
    
    INSERT INTO GENRE (NAME) VALUES('ROCK');
    INSERT INTO GENRE (NAME) VALUES('METAL');
    
    INSERT INTO ALBUM (TITLE, ARTIST_ID) VALUES ('WHO',2);
    INSERT INTO ALBUM (TITLE, ARTIST_ID) VALUES ('IV',1);
    
    INSERT INTO TRACK (TITLE, RATING, LENGTH, COUNT, ALBUM_ID, GENRE_ID) VALUES ('BLACK DOG',5,297,0,2,1);
    INSERT INTO TRACK (TITLE, RATING, LENGTH, COUNT, ALBUM_ID, GENRE_ID) VALUES ('STAIRWAY',5,482,0,2,1);
    INSERT INTO TRACK (TITLE, RATING, LENGTH, COUNT, ALBUM_ID, GENRE_ID) VALUES ('ABOUT TO ROCK',5,313,0,1,2);
    INSERT INTO TRACK (TITLE, RATING, LENGTH, COUNT, ALBUM_ID, GENRE_ID) VALUES ('WHO MADE WHO', 5,207,0,1,2);

''')

In [12]:
cur.execute("""

    select ALBUM.TITLE, ARTIST.NAME
    
        FROM ALBUM
        JOIN ARTIST ON 
            ALBUM.ARTIST_ID = ARTIST.ID

""")

In [13]:
print(cur.fetchall())

[('WHO', 'AC/DC'), ('IV', 'LED ZEPPLIN')]

In [14]:
cur.execute("""

    select ALBUM.TITLE, ARTIST.NAME
    
        FROM ALBUM, ARTIST
        WHERE ALBUM.ARTIST_ID = ARTIST.ID

""")

In [15]:
print(cur.fetchall())

[('WHO', 'AC/DC'), ('IV', 'LED ZEPPLIN')]

In [32]:
cur.execute('''

    select Track.title, Genre.name
from Track
join Genre on
Track.genre_id = Genre.id

''')

In [33]:
cur.fetchall()

[('BLACK DOG', 'ROCK'),
 ('STAIRWAY', 'ROCK'),
 ('ABOUT TO ROCK', 'METAL'),
 ('WHO MADE WHO', 'METAL')]

In [34]:
cur.executescript('''

    select TRACK.TITLE, ARTIST.NAME, ALBUM.TITLE, GENRE.NAME
        FROM TRACK
            JOIN ARTIST JOIN ALBUM JOIN GENRE ON
                TRACK.ALBUM_ID = ALBUM.ID
                AND
                TRACK.GENRE_ID = GENRE.ID
                AND
                ALBUM.ARTIST_ID = ARTIST.ID


''')

In [35]:
cur.fetchall()

[]

In [45]:
cur.executescript('''

   select Track.title, Artist.name, Album.title, Genre.name
    from Track
        join Artist join Album join Genre on
        Track.ALBUM_ID = ALBUM.ID
        and
        Track.GENRE_ID = GENRE.ID
        and
        ALBUM.ARTIST_ID = ARTIST.ID

''')

In [46]:
for row in cur.fetchall():
    print(row)

파일이나 다른곳에 이식하는 것을 일반적으로 덤프 뜬다고 한다.

In [54]:
with open('dump.sql', 'w') as f :
    for line in conn.iterdump():
        f.write('%s\n' %line)

덤프 불러오기

In [55]:
data = None
with open('dump.sql','r') as f:
    data = f.read()

In [63]:
con = sql.connect('dump.db')

In [64]:
cur = con.cursor()

In [59]:
data

'BEGIN TRANSACTION;\nCREATE TABLE ALBUM(\n        ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,\n        TITLE TEXT,\n        ARTIST_ID INTEGER\n    );\nINSERT INTO "ALBUM" VALUES(1,\'WHO\',2);\nINSERT INTO "ALBUM" VALUES(2,\'IV\',1);\nCREATE TABLE ARTIST\n        (\n        ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,\n        NAME TEXT\n        );\nINSERT INTO "ARTIST" VALUES(1,\'LED ZEPPLIN\');\nINSERT INTO "ARTIST" VALUES(2,\'AC/DC\');\nCREATE TABLE GENRE(\n        ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,\n        NAME TEXT\n        );\nINSERT INTO "GENRE" VALUES(1,\'ROCK\');\nINSERT INTO "GENRE" VALUES(2,\'METAL\');\nCREATE TABLE Track (\nid INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,\ntitle TEXT,\nlength INTEGER,\nrating INTEGER,\ncount INTEGER,\nalbum_id INTEGER,\ngenre_id INTEGER\n);\nINSERT INTO "Track" VALUES(1,\'BLACK DOG\',297,5,0,2,1);\nINSERT INTO "Track" VALUES(2,\'STAIRWAY\',482,5,0,2,1);\nINSERT INTO "Track" VALUES(3,\'ABOUT TO ROCK\',313,5,0,1,2);\nINSERT INTO "Track" VALUES(4,\'WHO MADE WHO\',207,5,0,1,2);\nDELETE FROM "sqlite_sequence";\nINSERT INTO "sqlite_sequence" VALUES(\'ARTIST\',2);\nINSERT INTO "sqlite_sequence" VALUES(\'GENRE\',2);\nINSERT INTO "sqlite_sequence" VALUES(\'ALBUM\',2);\nINSERT INTO "sqlite_sequence" VALUES(\'Track\',4);\nCOMMIT;\n'

In [67]:
cur.executescript(data)

ORM의 목적. 데이터베이스를 클래스처럼 작업하라는 것.

기존의 RDBMS에 객체를 엮을 수 있는 것. DBMS는 아니다.

# ORM

## SQL Alchemy

python ORM tool

In [1]:
pip init

The following command must be run outside of the IPython shell:

    $ pip init

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [2]:
import sqlalchemy

In [3]:
sqlalchemy.__version__

'1.2.7'

In [4]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('sqlite:///alchemy.db', echo = True)
print(engine)

Engine(sqlite:///alchemy.db)

Engine 은 sql문을 생성만 한다.

In [13]:
from sqlalchemy import MetaData

In [14]:
meta = MetaData()

In [15]:
meta

MetaData(bind=None)

In [16]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

In [17]:
users = Table('users', meta, 
             Column('id', Integer, primary_key = True),
             Column('name', String),
             Column('fullname', String)
             
             )
adress = Table('adress', meta, 
              
              Column('id', Integer, primary_key = True),
              Column('user_id', None, ForeignKey('users.id')),
              Column('email_address', String, nullable = False)
              
              )

In [18]:
meta.create_all(engine)

2018-07-10 13:41:35,650 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 13:41:35,651 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 13:41:35,654 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 13:41:35,655 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 13:41:35,657 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-10 13:41:35,658 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 13:41:35,660 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adress")
2018-07-10 13:41:35,661 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 13:41:35,663 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2018-07-10 13:41:35,664 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 13:41:35,672 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 13:41:35,674 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adress (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2018-07-10 13:41:35,675 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 13:41:35,684 INFO sqlalchemy.engine.base.Engine COMMIT

In [19]:
meta

MetaData(bind=None)

In [20]:
type(users.insert)

method

In [21]:
type(users)

sqlalchemy.sql.schema.Table

In [25]:
insert = users.insert().values( name = 'kim', fullname = 'anymlljsf, kim')

In [26]:
insert

In [27]:
print(insert)

INSERT INTO users (name, fullname) VALUES (:name, :fullname)

In [28]:
insert.compile().params

{'name': 'kim', 'fullname': 'anymlljsf, kim'}

In [29]:
insert

In [30]:
insert.bind = engine

In [31]:
insert

In [32]:
insert.compile().params

{'name': 'kim', 'fullname': 'anymlljsf, kim'}

In [33]:
conn = engine.connect()

In [34]:
conn.execute(insert)

2018-07-10 13:53:32,191 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-10 13:53:32,192 INFO sqlalchemy.engine.base.Engine ('kim', 'anymlljsf, kim')
2018-07-10 13:53:32,195 INFO sqlalchemy.engine.base.Engine COMMIT

In [35]:
result = conn.execute(insert)

2018-07-10 13:54:47,938 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-10 13:54:47,939 INFO sqlalchemy.engine.base.Engine ('kim', 'anymlljsf, kim')
2018-07-10 13:54:47,943 INFO sqlalchemy.engine.base.Engine COMMIT

In [36]:
result.inserted_primary_key

[2]

In [37]:
conn = engine.connect()

In [38]:
conn

In [39]:
insert.bind = engine

In [40]:
str(insert)

'INSERT INTO users (name, fullname) VALUES (?, ?)'

In [41]:
result = conn.execute(insert)

2018-07-10 14:09:55,618 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-10 14:09:55,619 INFO sqlalchemy.engine.base.Engine ('kim', 'anymlljsf, kim')
2018-07-10 14:09:55,623 INFO sqlalchemy.engine.base.Engine COMMIT

In [42]:
insert = users.insert()

In [43]:
result = conn.execute(insert, name = 'lee', fullname = 'Unknown, Lee')

2018-07-10 14:10:43,387 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-10 14:10:43,388 INFO sqlalchemy.engine.base.Engine ('lee', 'Unknown, Lee')
2018-07-10 14:10:43,391 INFO sqlalchemy.engine.base.Engine COMMIT

In [44]:
result.inserted_primary_key

[4]

In [47]:
conn.execute(adress.insert(),[{'user_id':1, 'email_address':'caoskorea@namver.com'},{'user_id':2,'email_address':'unknown.@casdfsfa.com'}])

2018-07-10 14:15:11,068 INFO sqlalchemy.engine.base.Engine INSERT INTO adress (user_id, email_address) VALUES (?, ?)
2018-07-10 14:15:11,069 INFO sqlalchemy.engine.base.Engine ((1, 'caoskorea@namver.com'), (2, 'unknown.@casdfsfa.com'))
2018-07-10 14:15:11,073 INFO sqlalchemy.engine.base.Engine COMMIT

In [48]:
result.inserted_primary_key

[4]

In [49]:
from sqlalchemy.sql import select

query = select([users])
result = conn.execute(query)

for row in result :
    print(row)

2018-07-10 14:18:56,143 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-10 14:18:56,144 INFO sqlalchemy.engine.base.Engine ()
(1, 'kim', 'anymlljsf, kim')
(2, 'kim', 'anymlljsf, kim')
(3, 'kim', 'anymlljsf, kim')
(4, 'lee', 'Unknown, Lee')

In [50]:
result = conn.execute(select([users.c.name, users.c.fullname]))

2018-07-10 14:19:43,018 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users
2018-07-10 14:19:43,020 INFO sqlalchemy.engine.base.Engine ()

In [51]:
for row in result:
    print(row)

('kim', 'anymlljsf, kim')
('kim', 'anymlljsf, kim')
('kim', 'anymlljsf, kim')
('lee', 'Unknown, Lee')

In [52]:
result = conn.execute(query)

2018-07-10 14:22:33,593 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-10 14:22:33,594 INFO sqlalchemy.engine.base.Engine ()

In [53]:
row = result.fetchone()

In [54]:
row['id']

1

In [55]:
row['name']

'kim'

In [56]:
row['fullname']

'anymlljsf, kim'

In [57]:
row

(1, 'kim', 'anymlljsf, kim')

In [58]:
row = result.fetchone()

In [59]:
row

(2, 'kim', 'anymlljsf, kim')

In [60]:
row = result.fetchone()

In [61]:
row

(3, 'kim', 'anymlljsf, kim')

In [62]:
for i in row :
    print(i)

3
kim
anymlljsf, kim

In [63]:
row = result.fetchall()

In [64]:
row

[(4, 'lee', 'Unknown, Lee')]

In [65]:
result = conn.execute(query)

2018-07-10 14:27:28,492 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-10 14:27:28,493 INFO sqlalchemy.engine.base.Engine ()

In [66]:
row = result.fetchall()

In [67]:
row

[(1, 'kim', 'anymlljsf, kim'),
 (2, 'kim', 'anymlljsf, kim'),
 (3, 'kim', 'anymlljsf, kim'),
 (4, 'lee', 'Unknown, Lee')]

In [69]:
for i in row:
    print(i)

(1, 'kim', 'anymlljsf, kim')
(2, 'kim', 'anymlljsf, kim')
(3, 'kim', 'anymlljsf, kim')
(4, 'lee', 'Unknown, Lee')

In [70]:
from sqlalchemy import and_, or_, not_

In [73]:
print(users.c.id == adress.c.user_id)

users.id = adress.user_id

python 객체들이 sql 문으로 바뀌는 모습

In [74]:
print(users.c.id == 1)

users.id = :id_1

In [75]:
print(or_(users.c.id == adress.c.user_id, users.c.id == 1))

users.id = adress.user_id OR users.id = :id_1

In [76]:
from sqlalchemy import join

In [77]:
print(users.join(adress))

users JOIN adress ON users.id = adress.user_id

In [78]:
print(users.join(adress,users.c.id == adress.c.users_id))

AttributeError: users_id

In [80]:
query = select([users.c.id, users.c.fullname, adress.c.email_adress]).select_from(users.join(adress))

AttributeError: email_adress

In [82]:
artist = Table('Artist', meta,
                  Column('id', Integer, primary_key = True),
                  Column('name', String, nullable = False),
                   extend_existing = True

              
              
              )

In [83]:
album = Table('Album', meta,
             Column('id', Integer, primary_key = True),
              Column('title', String, nullable = False),
              Column('artist_id', Integer, ForeignKey('Artist.id')),
              extend_existing = True
             
             )

In [85]:
genre = Table('Genre', meta,
             Column('id',Integer, primary_key = True),
              Column('name', String, nullable = False),
              extend_existing = True
             )

In [86]:
track = Table('Track', meta,
             Column('id', Integer, primary_key = True),
              Column('title', String, nullable = False),
              Column('length', Integer, nullable = False),
              Column('rating', Integer, nullable = False),
              Column('count', Integer, nullable = False),
              Column('album_id', Integer, ForeignKey('Album.id')),
              Column('genre_id', Integer, ForeignKey('Genre.id')),
              extend_existing = True
             )

In [87]:
meta.create_all(engine)

2018-07-10 15:22:55,165 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-10 15:22:55,166 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:22:55,169 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adress")
2018-07-10 15:22:55,170 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:22:55,171 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-10 15:22:55,172 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:22:55,173 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-10 15:22:55,175 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:22:55,176 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-10 15:22:55,177 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:22:55,177 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-10 15:22:55,178 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:22:55,180 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 15:22:55,181 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:22:55,189 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:22:55,191 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 15:22:55,192 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:22:55,198 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:22:55,199 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2018-07-10 15:22:55,200 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:22:55,207 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:22:55,208 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2018-07-10 15:22:55,209 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:22:55,216 INFO sqlalchemy.engine.base.Engine COMMIT

In [88]:
tables = meta.tables

In [89]:
tables

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'adress': Table('adress', MetaData(bind=None), Column('id', Integer(), table=<adress>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<adress>), Column('email_address', String(), table=<adress>, nullable=False), schema=None), 'Artist': Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>, nullable=False), schema=None), 'Album': Table('Album', MetaData(bind=None), Column('id', Integer(), table=<Album>, primary_key=True, nullable=False), Column('title', String(), table=<Album>, nullable=False), Column('artist_id', Integer(), ForeignKey('Artist.id'), table=<Album>), schema=None), 'Genre': Table('Genre', MetaData(bind=None), Column('id', Integer(), table=<Genre>, primary_key=True, nullable=False), Column('name', String(), table=<Genre>, nullable=False), schema=None), 'Track': Table('Track', MetaData(bind=None), Column('id', Integer(), table=<Track>, primary_key=True, nullable=False), Column('title', String(), table=<Track>, nullable=False), Column('length', Integer(), table=<Track>, nullable=False), Column('rating', Integer(), table=<Track>, nullable=False), Column('count', Integer(), table=<Track>, nullable=False), Column('album_id', Integer(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', Integer(), ForeignKey('Genre.id'), table=<Track>), schema=None)})

In [91]:
for i in tables:
    print(i)

users
adress
Artist
Album
Genre
Track

In [92]:
for i in engine.table_names():
    print(i)

2018-07-10 15:24:03,105 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 15:24:03,106 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track
adress
users

In [93]:
conn.execute(artist.insert(), [{'name':'Led Zepllin'},{'name':'AC/DC'}])

2018-07-10 15:28:28,300 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2018-07-10 15:28:28,301 INFO sqlalchemy.engine.base.Engine (('Led Zepllin',), ('AC/DC',))
2018-07-10 15:28:28,305 INFO sqlalchemy.engine.base.Engine COMMIT

In [94]:
conn.execute(album.insert(),[{'title':'IV', 'artist_id':1},{'title':'Who Made Who','artist_id':2}])

2018-07-10 15:29:36,009 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2018-07-10 15:29:36,010 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Who Made Who', 2))
2018-07-10 15:29:36,013 INFO sqlalchemy.engine.base.Engine COMMIT

In [95]:
conn.execute(genre.insert(),[{'name':'Rock'},{'name':'Metal'}])

2018-07-10 15:30:15,267 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2018-07-10 15:30:15,268 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2018-07-10 15:30:15,271 INFO sqlalchemy.engine.base.Engine COMMIT

In [98]:
conn.execute(track.insert(),[{
    'title':'Black Dog','rating':5,'length':297,'count':0,'album_id':1,'genre_id':1
},
    {
        'title':'Stairway',
        'rating':5,
        'length':482,
        'count':0,
        
        'album_id':1,
        'genre_id':1
    },
     {
        'title':'About to Rock',
        'rating':5,
        'length':482,
        'count':0,
        
        'album_id':2,
        'genre_id':2
    },
     {
        'title':'who made who',
        'rating':5,
        'length':482,
        'count':0,
        
        'album_id':2,
        'genre_id':2
    }


])

2018-07-10 15:35:06,179 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2018-07-10 15:35:06,181 INFO sqlalchemy.engine.base.Engine (('Black Dog', 297, 5, 0, 1, 1), ('Stairway', 482, 5, 0, 1, 1), ('About to Rock', 482, 5, 0, 2, 2), ('who made who', 482, 5, 0, 2, 2))
2018-07-10 15:35:06,183 INFO sqlalchemy.engine.base.Engine COMMIT

In [99]:
artistResult = conn.execute(artist.select())

2018-07-10 15:35:24,812 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id, "Artist".name
FROM "Artist"
2018-07-10 15:35:24,813 INFO sqlalchemy.engine.base.Engine ()

In [100]:
for row in artistResult:
    print(row)

(1, 'Led Zepllin')
(2, 'AC/DC')

In [101]:
albumResult = conn.execute(album.select())

2018-07-10 15:35:56,228 INFO sqlalchemy.engine.base.Engine SELECT "Album".id, "Album".title, "Album".artist_id
FROM "Album"
2018-07-10 15:35:56,229 INFO sqlalchemy.engine.base.Engine ()

In [102]:
for row in albumResult:
    print(row)

(1, 'IV', 1)
(2, 'Who Made Who', 2)

In [103]:
trackResult = conn.execute(track.select())
for row in trackResult:
    print(row)

2018-07-10 15:36:34,049 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
2018-07-10 15:36:34,050 INFO sqlalchemy.engine.base.Engine ()
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 1)
(3, 'About to Rock', 482, 5, 0, 2, 2)
(4, 'who made who', 482, 5, 0, 2, 2)

In [104]:
trackResult = conn.execute(select([track]).where(and_(track.c.album_id == 1, track.c.genre_id ==1)))

2018-07-10 15:37:23,592 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND "Track".genre_id = ?
2018-07-10 15:37:23,594 INFO sqlalchemy.engine.base.Engine (1, 1)

In [105]:
for row in trackResult:
    print(row)

(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 1)

In [106]:
from sqlalchemy import update

In [107]:
conn.execute(track.update().values(genre_id = 2).where(track.c.id == 2))

2018-07-10 15:44:24,077 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".id = ?
2018-07-10 15:44:24,078 INFO sqlalchemy.engine.base.Engine (2, 2)
2018-07-10 15:44:24,081 INFO sqlalchemy.engine.base.Engine COMMIT

In [108]:
conn.execute(track.update().values(genre_id = 1).where(track.c.id == 3))

2018-07-10 15:44:40,398 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".id = ?
2018-07-10 15:44:40,399 INFO sqlalchemy.engine.base.Engine (1, 3)
2018-07-10 15:44:40,402 INFO sqlalchemy.engine.base.Engine COMMIT

In [109]:
trackResult = conn.execute(select([track]).
                          where(
                          and_(track.c.album_id == 1,
                              or_(track.c.genre_id == 1,
                                 track.c.genre_id == 2))))

2018-07-10 15:45:50,971 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)
2018-07-10 15:45:50,972 INFO sqlalchemy.engine.base.Engine (1, 1, 2)

In [110]:
for row in trackResult:
    print(row)

(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 2)

In [111]:
print(track.join(album))

"Track" JOIN "Album" ON "Album".id = "Track".album_id

In [112]:
result = conn.execute(track.select().
                     select_from(track.join(album)))

2018-07-10 15:46:54,672 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
2018-07-10 15:46:54,673 INFO sqlalchemy.engine.base.Engine ()

In [113]:
for row in result.fetchall():
    print(row)

(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 2)
(3, 'About to Rock', 482, 5, 0, 2, 1)
(4, 'who made who', 482, 5, 0, 2, 2)

In [114]:
result = conn.execute(track.
                     select()
                     .select_from(track.join(album))
                      .where(album.c.id == 1)
                     )

2018-07-10 15:48:05,809 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
WHERE "Album".id = ?
2018-07-10 15:48:05,810 INFO sqlalchemy.engine.base.Engine (1,)

In [115]:
for i in result.fetchall():
    print(i)

(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 2)

In [116]:
print(track.join(album))

"Track" JOIN "Album" ON "Album".id = "Track".album_id

In [117]:
print(track.join(album).join(genre).join(artist))

"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

In [119]:
result = conn.execute(select(
[
    track.c.title, album.c.title, genre.c.name, artist.c.name
]

).
select_from(track.join(album).join(genre).join(artist))                     
                     )

2018-07-10 16:16:48,968 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2018-07-10 16:16:48,969 INFO sqlalchemy.engine.base.Engine ()

In [120]:
for row in result.fetchall():
    print(row)

('Black Dog', 'IV', 'Rock', 'Led Zepllin')
('Stairway', 'IV', 'Metal', 'Led Zepllin')
('About to Rock', 'Who Made Who', 'Rock', 'AC/DC')
('who made who', 'Who Made Who', 'Metal', 'AC/DC')

In [122]:
result = conn.execute(track
                     .select()
                      .select_from(track.join(album).
                                  join(genre).
                                  join(artist)).
                                  where(
                                  and_(
                                  genre.c.id == 1,
                                      artist.c.id == 1
                                  )
                                  ))

2018-07-10 16:19:24,201 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE "Genre".id = ? AND "Artist".id = ?
2018-07-10 16:19:24,202 INFO sqlalchemy.engine.base.Engine (1, 1)

In [123]:
for row in result.fetchall():
    print(row)

(1, 'Black Dog', 297, 5, 0, 1, 1)

In [124]:
from sqlalchemy import create_engine, MetaData